@{
    ViewBag.Title = "Home Page";
}
@using Lab1.Models;
@model IndexModel
<div class="jumbotron">
    <h1>@ViewBag.Message</h1>
</div>
@if (Model.IsAuthenticated)
{
<div class="row">
	<h2>Файлы в папке D:/Test</h2>
	<ul>
		@if (Model.Files != null)
		{
			if (Model.IsAdmin)
			{
				foreach (var file in Model.Files)
				{
				<li><a href="/home/openfile?file=@file.FullName">@file.Name -- @file.LastAccessTime</a> -- <a href="/home/deletefile?file=@file.FullName">Удалить</a></li>
				}
			}
			else
			{
				foreach (var file in Model.Files)
				{
				<li><a href="/home/openfile?file=@file.FullName">@file.Name -- @file.LastAccessTime</a></li>
				}
			}
		}
	</ul>
</div>
}
else
{
	<h2>Авторизуйтесь, чтобы продолжить</h2>
}